/* General rules */
* {
  box-sizing: border-box;
  text-align: justify;
}
body,
ul {
  margin: 0;
  padding: 0;
}

/* Colors */
body {
  background-color: #111;
  color: #eee;
}

/* Layout */
/* flex layout adapted from https://www.w3schools.com/cssref/css3_pr_flex.php */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex: 100%;
}

@media screen and (min-width: 600px) {
  .flex-item {
    flex: 50%;
  }
}

#social ul {
  display: flex;
  list-style: none;
}
/* Typography */

/* Images */
.group-portrait {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .group-portrait {
    float: right;
    width: 50%;
    max-width: 500px;
  }
}
