/* General rules */
* {
  box-sizing: border-box;
  text-align: justify;
}
body,
ul {
  margin: 0;
  padding: 0;
}

/* Colors */
body {
  background-color: #111;
  color: #eee;
}

/* Layout */
/* flex layout adapted from https://www.w3schools.com/cssref/css3_pr_flex.php */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex: 100%;
}

@media screen and (min-width: 600px) {
  .flex-item {
    flex: 50%;
  }
}

#lineup {
  column-count: 2;
  column-gap: 1%;
  list-style: none;
  text-align: center;
}
#lineup > li {
  width: 100%;
}
#lineup li > span {
  display: inline-block;
}

/* Typography */

/* Images */
.full-width-image {
  width: 100%;
}
