/* General rules */
body,
ul {
  margin: 0;
  padding: 0;
}

/* Colors */
body {
  background-color: #111;
  color: #eee;
}

/* Layout */
/* flex layout adapted from https://www.w3schools.com/cssref/css3_pr_flex.php */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex: 100%;
}

@media screen and (min-width: 1000px) {
  .flex-item-left,
  .flex-item-right {
    flex: 50%;
  }
}

#lineup {
  column-count: 2;
  column-gap: 1%;
  list-style: none;
  text-align: center;
}
#lineup > li {
  width: 100%;
}
#lineup li > span {
  display: inline-block;
}

/* Typography */

/* Images */
.portrait-group {
  width: 100%;
}

.portrait-single {
  width: 20vw;
  height: 20vw;
  display: block;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 140% 140%;
}

#portrait-til {
  background-image: url(../img/til.png);
}

#portrait-johannes {
  background-image: url(../img/johannes.png);
}

#portrait-phil {
  background-image: url(../img/phil.png);
}

#portrait-moritz {
  background-image: url(../img/moritz.png);
}
