/*--------------------------------
FONTS
--------------------------------*/

@font-face {
  font-family: "satellite";
  src: url(../fonts/Satellite.otf); /* https://freetypography.com/2011/08/28/free-font-satellite/ */
}

@font-face {
  font-family: "prosto";
  src: url(../fonts/ProstoOne-Regular.ttf); /* https://fonts.google.com/specimen/Prosto+One */
}

/*--------------------------------
VARIABLES
--------------------------------*/
:root {
  /* CSS variable functionality found at https://www.w3schools.com/css/css3_variables.asp */
  /* Defining colors to use for the website */
  --primary-color: #cf268a;
  --secondary-color: #391635;
  --black: #111;
  --white: #fff;
  --off-white: #eee;
  --darkgrey: #222;
  --lightgrey: #888;

  /* Set default values for main layout elements */
  --site-title-primary-font-size: 15vw;
  --site-title-secondary-font-size: 4vw;
  --main-section-padding: 10vw;
  --divider-container-height: 40vh;
  --divider-container-max-height: 450px;
}

/* Define main layout variables for responsive layout (other non-variable media queries at the end of the file) */
/* This stylesheet adopts a mobile first approach. Breakpoints adopted from https://www.w3schools.com/css/css3_mediaqueries.asp */
/* Inspiration for using variables for media queries from: https://www.w3schools.com/css/css3_variables_mediaqueries.asp */

/* Small screens (600px and up)*/
@media only screen and (min-width: 600px) {
  :root {
    --divider-container-height: 30vh;
    --divider-container-max-height: 330px;
  }
}

/* Slightly larger screens (768px and up)*/
@media only screen and (min-width: 768px) {
  :root {
    --main-section-padding: 14vw;
    --divider-container-height: 40vh;
    --divider-container-max-height: 430px;
  }
}

/* Medium screens (992px and up) */
@media only screen and (min-width: 992px) {
  :root {
    --site-title-primary-font-size: 12vw;
    --site-title-secondary-font-size: 3vw;
    --main-section-padding: 12vw;
    --divider-container-height: 50vh;
    --divider-container-max-height: 530px;
  }
}

/* Large Screens (1200px and up) */
@media only screen and (min-width: 1200px) {
  :root {
    --site-title-primary-font-size: 10vw;
    --site-title-secondary-font-size: 2.5vw;
    --divider-container-height: 60vh;
    --divider-container-max-height: 630px;
  }
}

/* Very large screens (1400px and up) */
@media only screen and (min-width: 1400px) {
  :root {
    --main-section-padding: 15vw;
    --divider-container-height: 62vh;
    --divider-container-max-height: 700px;
  }
}

/*--------------------------------
GENERAL STYLES
--------------------------------*/
* {
  box-sizing: border-box;
  text-align: justify;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth; /* Found at https://www.w3schools.com/cssref/pr_scroll-behavior.php */
}

body {
  background-color: var(--black);
  color: var(--off-white);
  font-family: satellite, Arial, Helvetica, sans-serif;
  font-size: 110%;
}

h1,
h2,
h3 {
  text-align: left;
}

h2 {
  margin: 2vh 0;
}

h3 {
  margin: 1vh 0;
  text-transform: uppercase;
  font-size: 100%;
  letter-spacing: 0.1rem;
}

p {
  margin: 2vh 0;
}

p.first-paragraph {
  margin-top: 0;
}

li {
  list-style: none;
}

a {
  color: var(--off-white);
  text-decoration: underline;
  transition: all 0.5s;
}

a:hover {
  color: var(--primary-color);
}

hr {
  margin: 2vh 0;
}

iframe {
  border: 5px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

/*--------------------------------
MAIN LAYOUT
--------------------------------*/
.main-section {
  padding: 2vh var(--main-section-padding) 3vh var(--main-section-padding);
  /* CSS gradients adapted from https://www.w3schools.com/css/css3_gradients.asp */
  background: linear-gradient(135deg, var(--secondary-color), var(--black)) var(--secondary-color);
}

.divider-container {
  height: var(--divider-container-height);
  max-height: var(--divider-container-max-height);
  overflow: hidden;
}

/*--------------------------------
FLEXBOX LAYOUT
--------------------------------*/
/* Flex layout adapted from https://www.w3schools.com/cssref/css3_pr_flex.php */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item,
.flex-item-60,
.flex-item-40 {
  flex: 100%;
  padding: 0 3vw 3vw 0;
}

/*--------------------------------
HEADER STYLES
--------------------------------*/
header {
  text-align: center;
}

#site-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
  position: relative;
  background-image: radial-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
}

#hero {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  background: url(../img/chrystal_math_hero.jpg) center center / auto 100% var(--black);
  animation: hero 5s forwards ease;
}

@keyframes hero {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

/*--------------------------------
NAVIGATION
--------------------------------*/
/* === Main Navigation === */
/* Main navigation design adapted from https://www.mediaevent.de/tutorial/css-responsive-menu.html */
.main-nav {
  height: auto;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
  width: 100vw;
  height: 100vh;
  max-height: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)) transparent;
  font-size: 200%;
  z-index: 2;
}

/* This makes the main navigation appear, when the hamburger menu icon is clicked. */
/* The hamburger icon is a actually a checkbox, which makes it possible for the menu to stay open even after moving the mouse or clicking somwhere else. */
#hamburger:checked + .hamburger + .main-nav {
  opacity: 1;
  max-height: 100vh;
}

#menu {
  display: flex;
  flex-direction: column;
}

#menu li {
  margin: 1vh auto;
}

#menu a {
  color: var(--off-white);
  text-decoration: none;
}

#menu a:hover {
  color: var(--primary-color);
}

/* === Hamburger Menu Icon === */
/* The following declarations style the hamburger icon and the animation to turn it into an X when clicked. */
/* Hamburger icon design and animation adapted from https://www.mediaevent.de/tutorial/css-transform.html */
label.hamburger {
  display: block;
  width: 40px;
  height: 30px;
  position: absolute;
  border-radius: 4px;
  right: 30px;
  top: 30px;
  z-index: 3;
}

input#hamburger {
  display: none;
}

.hamburger-line {
  position: absolute;
  height: 3px;
  width: 40px;
  background-color: var(--off-white);
  border-radius: 2px;
  display: block;
  transition: 0.5s;
  transform-origin: center;
}

.hamburger-line:nth-child(1) {
  top: 0;
}
.hamburger-line:nth-child(2) {
  top: 12px;
}
.hamburger-line:nth-child(3) {
  top: 24px;
}

#hamburger:checked + .hamburger .hamburger-line:nth-child(1) {
  transform: translateY(12px) rotate(-45deg);
}

#hamburger:checked + .hamburger .hamburger-line:nth-child(2) {
  opacity: 0;
}

#hamburger:checked + .hamburger .hamburger-line:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

/* === Navigation Buttons === */
/* Styles for the buttons to go to the top of the page and to scroll down */
a.go-up {
  position: fixed;
  right: 25px;
  bottom: 35px;
  font-size: 170%;
  padding: 10px 12px 4px 12px;
  color: var(--off-white);
  background-color: var(--primary-color);
  box-shadow: 1px 1px 4px var(--black);
  border-radius: 50%;
  z-index: 1;
}

a.go-up:hover {
  background: var(--darkgrey);
}

a.go-down {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  width: 50px;
  margin: 0 auto;
  padding: 10px;
  font-size: 150%;
  color: var(--off-white);
  text-align: center;
  animation: scroll-arrow 1s alternate infinite ease-out;
}

a.go-down:hover {
  color: var(--primary-color);
  font-size: 200%;
}

@keyframes scroll-arrow {
  from {
    bottom: 0px;
  }
  to {
    bottom: 20px;
  }
}

/*--------------------------------
FOOTER STYLES
--------------------------------*/
#social ul {
  display: flex;
  width: 100%;
  padding-top: 2vh;
  justify-content: center;
  font-size: 200%;
}
#social li {
  padding: 3%;
}

#copyright {
  text-align: center;
  margin-top: 1vh;
  color: var(--lightgrey);
}

/*--------------------------------
ADDITIONAL TYPOGRAPHY
--------------------------------*/
.fading-line {
  border: none;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, var(--off-white), transparent) 1;
}

#site-title h1,
h2 {
  text-shadow: 0 0 20px var(--black);
}

#site-title h1 {
  font-size: var(--site-title-primary-font-size);
  margin-bottom: 2vh;
  letter-spacing: 1vw;
}

#site-title h2 {
  font-size: var(--site-title-secondary-font-size);
}

#site-title h2 em,
#news em {
  font-family: prosto, Verdana, Geneva, Tahoma, sans-serif;
}

#news li {
  list-style: circle;
  text-align: left;
  margin-top: 2vh;
  list-style-position: inside;
}

#news li ul li {
  list-style: none;
  margin: 0 0 0 17px;
}

/*--------------------------------
IMAGE STYLES
--------------------------------*/
.divider-image {
  height: 100%;
  animation: divider-image-zoom 30s alternate infinite ease-in-out;
  background-size: auto 100%;
}

@keyframes divider-image-zoom {
  from {
    transform: scale(1);
    background-position: top left;
  }
  to {
    transform: scale(2);
    background-position: bottom right;
  }
}

.divider-image-1 {
  background-image: url(../img/bass.jpg); /* Stock image from: https://unsplash.com/photos/Fx5rrxSaUtI */
  animation-direction: alternate-reverse; /* Make the animation go in the opposite direction to avoid synchronicity with other animations */
}

.divider-image-2 {
  background-image: url(../img/drums.jpg); /* Stock image from: https://unsplash.com/photos/9lfubBqLbRc */
}

.divider-image-3 {
  background-image: url(../img/piano.jpg); /* Stock image from: https://unsplash.com/photos/NacLkmqiKnU */
  animation-direction: alternate-reverse; /* Make the animation go in the opposite direction to avoid synchronicity with other animations */
}

.divider-image-4 {
  background-image: url(../img/saxophone.jpg); /* Stock image from: https://pixabay.com/photos/sax-instrument-saxophone-jazz-4372140/ */
}

.group-portrait-small {
  width: 100%;
}

.group-portrait-large {
  display: none;
}

.album-artwork {
  max-width: 300px;
  max-height: 300px;
  width: 100%;
}

/*--------------------------------
FORMS AND BUTTONS
--------------------------------*/
.input {
  display: block;
  margin-top: 1vh;
  border: none;
  padding: 3px 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
}

.textarea {
  width: 100%;
  height: 12vh;
}

.submit-button {
  background: var(--off-white);
  color: var(--black);
  margin-top: 1vh;
  border: none;
  padding: 2px 14px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.5s;
}

.submit-button:hover {
  background-color: var(--primary-color);
}

fieldset {
  padding: 0 1vh 1vh 1vh;
  border-radius: 10px;
  border-width: 1px;
}

legend {
  text-transform: uppercase;
}

/*--------------------------------
ADDITIONAL MEDIA QUERIES
--------------------------------*/
/* Small screens (600px and up)*/
@media only screen and (min-width: 600px) {
  .divider-image {
    background-size: 100% auto;
  }
}

/* Medium screens (992px and up) */
@media only screen and (min-width: 992px) {
  .flex-item {
    flex: 50%;
  }

  .flex-item-60 {
    flex: 60%;
  }

  .flex-item-40 {
    flex: 40%;
  }

  /* The next to declarations make the larger group portrait appear next to the text instead of the smaller portrait in the middle of the text */
  .group-portrait-large {
    background: url("../img/khandroma_portrait.jpg") no-repeat top center / 120% auto; /* Foto by David Koetter */
    display: block;
  }

  .group-portrait-small {
    display: none;
  }
}

/* Large Screens (1200px and up) */
@media only screen and (min-width: 1200px) {
  /* This enables a hover effect for the hamburger icon on larger screens which doesn't work properly on touch screens */
  label.hamburger:hover .hamburger-line {
    background-color: var(--primary-color);
  }
}
