/* General rules */
* {
  box-sizing: border-box;
  text-align: justify;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* Colors */
body {
  background-color: #111;
  color: #eee;
}

/* Layout */
/* flex layout adapted from https://www.w3schools.com/cssref/css3_pr_flex.php */
.main-section {
  padding: 2vh 10vw;
  margin: 2vh auto;
  background-color: rgb(153, 77, 153);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item,
.flex-item-60,
.flex-item-40 {
  flex: 100%;
  padding: 2% 2% 0 0;
}

@media screen and (min-width: 600px) {
  .flex-item {
    flex: 50%;
  }

  .flex-item-60 {
    flex: 60%;
  }

  .flex-item-40 {
    flex: 40%;
  }
}
/* Header */
header {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Hero image layout adapted from: https://www.w3schools.com/howto/howto_css_hero_image.asp */
.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* Navigation */
/* Menu layout adapted from https://www.mediaevent.de/tutorial/css-responsive-menu.html */
.main-nav {
  height: auto;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  font-size: 200%;
  z-index: 2;
}

#menu {
  display: flex;
  flex-direction: column;
}

#menu li {
  margin: 0 auto;
}

#hamburger:checked + .hamburger + .main-nav {
  opacity: 1;
}

/* Hamburger icon layout and animation adapted from https://www.mediaevent.de/tutorial/css-transform.html */
label.hamburger {
  display: block;
  width: 40px;
  height: 30px;
  position: relative;
  border-radius: 4px;
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 3;
}

input#hamburger {
  display: none;
}

.hamburger-line {
  position: absolute;
  height: 3px;
  width: 40px;
  background: #fff;
  border-radius: 2px;
  display: block;
  transition: 0.5s;
  transform-origin: center;
}

.hamburger-line:nth-child(1) {
  top: 0;
}
.hamburger-line:nth-child(2) {
  top: 12px;
}
.hamburger-line:nth-child(3) {
  top: 24px;
}

#hamburger:checked + .hamburger .hamburger-line:nth-child(1) {
  transform: translateY(12px) rotate(-45deg);
}

#hamburger:checked + .hamburger .hamburger-line:nth-child(2) {
  opacity: 0;
}

#hamburger:checked + .hamburger .hamburger-line:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

.go-up {
  position: fixed;
  right: 2vw;
  bottom: 2vh;
  font-size: 300%;
}

#social ul {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 200%;
}
#social li {
  padding: 5%;
}

/* Typography */

/* Images */
.group-portrait-small {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .group-portrait-large {
    background: url("../img/khandroma_portrait.png") no-repeat center center / auto 100%;
  }

  .group-portrait-small {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .group-portrait-large {
    background: url("../img/khandroma_portrait.png") no-repeat center 40% / 100% auto;
  }
}
